body {
background-image: url(https://i.pinimg.com/originals/a0/27/92/a027929c9f589f34d9e32dc658641e68.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-size: x-large;
text-align: center;
height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color:white;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

main {
  margin-bottom: 150px;
}
 footer {
   position: absolute;
   bottom: 0px;
 }