h1.main-header a{
    color: black;
}

h1.main-header {
    /* margin-right: 15px; */
    text-align: center;
    font-family: fantasy;
    margin: auto;
    font-size: xxx-large;
}

Button {
   margin-right: 5px !important;
}